@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --pink-color: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --poppins-font: "Poppins", sans-serif;
  --open-sans-font: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.6;
  color: black;
  background-color: var(--very-pale-cyan);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/*Utility Class*/
.container {
  max-width: 1300px;
  padding: 2rem 2rem;
  margin: auto;
  overflow: hidden;
}
.logo-primary {
  width: 150px;
  height: 100%;
}

.logo-secondary {
  filter: brightness(0) invert(1);
}

.heading-primary,
.heading-secondary {
  font-family: var(--poppins-font);
  font-weight: 600;
  height: 109px;
  width: 400px;
  font-size: 33px;
}

.heading-secondary {
  height: 100%;
  width: 100%;
  font-size: 30px;
  margin-bottom: 25px;
}
.para-primary,
.para-secondary {
  font-family: var(--open-sans-font);
  font-weight: 400;
  font-size: 15px;
  color: var(--very-dark-cyan);
  margin-bottom: 35px;
}

.para-secondary {
  color: var(--grayish-blue);
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0.6rem 3rem;
  background-color: white;
  text-align: center;
  color: #000;
  border-radius: 25px;
  box-shadow: 2px 3px 12px 0px #ccc;
  font-family: var(--open-sans-font);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.2px;
}

.btn-secondary {
  padding: 0.7rem 3.5rem;
  background-color: var(--pink-color);
  color: var(--very-pale-cyan);
  left: 0;
  top: 250px;
  font-size: 13px;
}

/*Nav Section*/

.main-header {
  width: 100%;
  height: 500px;
  background: url("../images/bg-hero-desktop.svg") no-repeat center/cover;
  margin-bottom: 200px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Showcase*/
.showcase {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 80px 0;
}

.showcase .first-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.showcase .first-content > div {
  width: 100%;
  margin-bottom: 40px;
}

.showcase .second-content .showcase-img {
  width: 683px;
  height: 484px;
}

/*  */
.together {
  padding: 6rem 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

.together .cards .card {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 45px 0 100px;
  box-shadow: 0.9px 0px 7px 0.2px rgb(221, 220, 220);
  border-radius: 10px;
}

.together .cards .card .first-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 60px;
}

.together .cards .card .second-content {
  height: 100%;
  width: 100%;
}
.together .cards .card .second-content .logo-together {
  height: 100%;
  width: 100%;
}

/* Ready section style */
.ready {
  height: 100%;
  width: 50%;
  margin: 0 auto -20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 2.7rem 0.3rem;
  background-color: whitesmoke;
  box-shadow: 0.9px 0px 7px 0.2px rgb(221, 220, 220);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.ready .heading-ready {
  margin-bottom: 20px;
  font-family: var(--poppins-font);
  font-size: 25px;
}

/* Footer section */
.main-footer {
  height: 100%;
  width: 100%;
  margin-top: -80px;
  background-color: var(--very-dark-cyan);
  color: var(--very-pale-cyan);
  font-family: var(--open-sans-font);
  position: relative;
}
.main-footer .container .wrapper-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 90px 0px;
  text-align: start;
}

.small-footer {
  flex: 1;
  padding: 1rem 2rem;
}
.small-footer:first-child {
  flex: 2;
}
.small-footer .footer-link li {
  padding: 1rem 0;
}
.small-footer .footer-link:first-child > li {
  display: flex;
  justify-content: start;
  align-items: center;
}
.small-footer .footer-link:first-child > li > img {
  margin-right: 15px;
}

.small-footer .footer-link2 {
  display: flex;
  flex-direction: row;
}

.small-footer .footer-link2 > li {
  margin-right: 20px;
}

.small-footer .footer-link2 > li > a {
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 50%;
  color: var(--very-pale-cyan);
}
